.nav a {
		color:black;
		position: center;
		text-align: center;}				
									
html, body {
	background-color: #F8FAF6 ;
	text-color: black;}
	
h1 {
	font-family: 'Crimson Text', serif;}

h1 {
	font-family: 'Crimson Text', serif;}
	
h1 {
	font-family: 'Crimson Text', serif;}
	
p {
	font-family: 'Open Sans', sans-serif;}